<div class="container">
<h1>Ask a Question</h1>
<p>Type your question below:</p>

<form action="/questions" method="post" data-turbo="false">

  <div>
    <label for="question">Your Question:</label><br>
    <input type="text" name="question" id="question">
  </div>

  <div>
    <input type="submit" value="Ask!">
  </div>
</form>
</div>
